html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 70px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.box-button{
    display: inline-block;
}
